include data/ubiquiti_device_specs.json
recursive-include netbox_unifi/services/data *.json
recursive-include netbox_unifi/templates *.html
recursive-include netbox_unifi/migrations *.py
recursive-include netbox_unifi/management *.py
